<div class="flex w-full h-screen bg-blue-200 align-content-center justify-content-center flex-wrap">
    <div class="surface-card p-4 shadow-2 border-round lg:w-4">
        <div class="text-center mb-5">
            <img src="assets/imagenes/medico_login.png" alt="Image" height="50" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">Bienvenido Dr(a).</div>
            <span class="text-600 font-medium line-height-3">¿Aun no tienes una cuenta?</span>
            <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">¡Crear ahora!</a>
        </div>

        <div>
            <label for="email1" class="block text-900 font-medium mb-2" >E-mail</label>
            <input id="email1" type="text" placeholder="E-mail" pInputText class="w-full mb-3" [(ngModel)]="email">

            <label for="password1" class="block text-900 font-medium mb-2" >Contraseña</label>
            <input id="password1" type="password" placeholder="Password" pInputText class="w-full mb-3" [(ngModel)]="password">

            <div class="flex align-items-center justify-content-between mb-6">
                <div class="flex align-items-center">
                    <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                    <label for="rememberme1" class="text-900">Recordar acceso</label>
                </div>
                <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Olvide mi contraseña</a>
            </div>

            <button pButton pRipple label="Ingresar" icon="pi pi-user" class="w-full" (click)="login()"></button>
        </div>
    </div>
</div>